*{
    margin: 0px;
    padding: 0px;
}

        /* nav-style */
.menu-container{
    background-color: #424141;
    padding: 20px;
    color: white;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}
.menus{
    display: flex;
}
.logo-photo{
    width: 100px;
}
.item{
    margin-right: 10px;
    padding-right: 10px;
    font-size: 20px;
    cursor: pointer;
    
}
.item:hover{
    color: rgb(248, 81, 81);
}

        /* banner-style */
.title{
    font-size: 55px;
}
.description{
    font-size: 18px;
    margin-top: 15px;

}
.btn{
    margin-top: 20px;
    padding: 13px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}  
.btn:hover{
    background-image: linear-gradient(90deg, rgb(255, 0, 0), rgb(56, 53, 53))
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    color: rgb(255, 255, 255);
    background-image: url("./images/background.png"), linear-gradient(45deg, rgb(0, 0, 0), rgb(54, 54, 54));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.about-title{
    text-align: center;
    padding-top: 20px;
}
.banner-img{
    width: 300px;

}
.abouth-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    height: 350px;
}

